/RideTrack/Release
/RideTrack/__vm
/RideTrack/Debug
/RideTrack/examples
/RideTrack/*.gitignore
/RideTrackWifi/.vs
/RideTrackWifi/__vm
/RideTrackWifi/Debug
/RideTrackWifi/examples
/RideTrackWifi/Release
/.vs
build
/ESP32/deep_sleep/sdkconfig.old
/ESP32/deep_sleep/sdkconfig.defaults
